* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-default);
}

header .nav {
  color: var(--color-default);
  font-weight: 500;
}
header .nav:hover {
  color: var(--color-light-light);
}

:root {
  --color-default: #001737;
  --color-seconds: #042893;
  --color-light: #063cdd;
  --color-light-light:#0168fa;
  --color-black: #000;
  --color-body: rgb(241, 245, 249);
  --color-red: rgb(222, 59, 60);
  --color-second: rgb(59, 130, 246);
  --color-green: rgb(14, 148, 136);
  --color-orange: rgb(245, 158, 12);
  --color-light-green: rgb(45, 212, 191);
  --color-grey: rgb(100, 116, 139);
  --color-light-purple: rgb(225, 231, 255);
  --color-yellow: rgb(253, 224, 71);
  --color-pink: rgb(219, 39, 119);
  --color-default-light: hsl(225, 21.43%, 21.96%);
  --color-dull-white: rgb(199, 202, 205);
}

.ml100 {
  margin-left: 100px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.margin60 {
  margin: 60px 0;
}

.margin50 {
  margin: 50px 0;
}

.margin70 {
  margin: 70px 0;
}

.margin80 {
  margin: 80px 0;
}

.margin100 {
  margin: 100px 0;
}

.margin40 {
  margin: 40px 0;
}

.margin30 {
  margin: 30px 0;
}

.margin20 {
  margin: 20px 0;
}

.padding60 {
  padding: 60px;
}

.padding50 {
  padding: 50px;
}

.padding70 {
  padding: 70px;
}

.padding100 {
  padding: 100px 0;
}

.padding40 {
  padding: 40px;
}

.padding30 {
  padding: 30px;
}

.padding20 {
  padding: 20px;
}

.padding10 {
  padding: 10px;
}

.Intro .line {
  border-top: 1px solid #012a41;
}
.Intro .light {
  color: #042893;
}
.Intro .accordion {
  color: #012a41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  background-color: var(--color-body);
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.Intro .accordion h3 {
  font-size: 10px !important;
}
.Intro .accordion svg {
  color: red !important;
}
.Intro .panel {
  padding: 0 18px;
  overflow: hidden;
}
.Intro .panel h3 {
  font-size: 10px;
}
.Intro .panel p {
  font-size: 15px !important;
  margin: 0;
}
.Intro .panel a {
  background-color: var(--color-seconds);
  color: white;
  padding: 7px 20px !important;
  border: none;
  outline: none;
  font-size: 13px !important;
}
.Intro .panel a:hover {
  background-color: var(--color-light);
}
.Intro .panel svg {
  margin-bottom: 15px;
  margin-top: 15px;
}

.bg1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/img/pexels-stephan-seeber-1261728.jpg);
}

.bg2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/img/pexels-pixabay-414837.jpg);
}

.bg3 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/img/pexels-pixabay-414122.jpg);
}

.Business h5 {
  margin: 0;
}

.Email h5 {
  margin: 0;
}

.UserS h5 {
  margin: 0;
}

.headd h2 {
  color: var(--color-light) !important;
}

.cards {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.cards ul {
  margin: 0;
  padding: 0;
}
.cards ul li {
  padding: 25px;
  list-style: none;
}
.cards ul li:hover {
  background-color: rgba(225, 225, 225, 0.312);
}
.cards ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards ul li a p {
  margin: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  list-style: none;
  margin: 15px 0;
}
.footer ul li svg {
  margin-right: 15px;
}

.Investment .moon {
  background-image: url(../../assets/img/pexels-stephan-seeber-1261728.jpg);
  background-position: center;
  border-radius: 20px;
  height: 40vh;
  background-color: black;
  background-size: cover;
  background-blend-mode: exclusion;
}
.Investment .moon h1 {
  padding: 30px;
  color: white;
}
.Investment .set1 h1 {
  font-size: 16px;
}
.Investment .set1 p {
  font-size: 13px;
  margin: 0;
  color: var(--color-grey);
}
.Investment .set2 span {
  background-color: var(--color-body);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}
.Investment .set3 ul {
  margin: 0;
  padding: 0;
}
.Investment .set3 ul .grey {
  color: var(--color-grey);
}
.Investment .set3 ul .blue {
  color: var(--color-light);
}
.Investment .set3 ul .up {
  font-size: 13px;
}
.Investment .set3 ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Investment .set3 ul li .greendot {
  border-left: 3px solid green;
  height: 1px;
}
.Investment .set3 .fsize10 {
  font-size: 10 !important;
}
.Investment .set3 svg {
  color: white;
}
.Investment .set3 .nobackbtn {
  background-color: white;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  outline: none;
}
.Investment .set3 .nobackbtn svg {
  margin-right: 6px;
  color: var(--color-light) !important;
}
.Investment .set3 .nobackbtn:hover {
  background-color: var(--color-light);
  color: white;
}
.Investment .set3 .nobackbtn:hover svg {
  color: white;
}
.Investment .set3 .withbackbtn {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
.Investment .set3 .withbackbtn svg {
  margin-right: 6px;
  color: white !important;
}
.Investment .set3 .withbackbtn:hover {
  border: none;
  background-color: var(--color-light-light);
}
.Investment .set3 .withbackbtn:hover svg {
  color: var(--color-light);
}
.Investment .set4 .col-md-3 {
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: var(--color-light-purple);
}
.Investment .set4 .col-md-3 h3 {
  margin-bottom: 20px;
  color: rgb(55, 93, 247);
}
.Investment .set5 .opt1 {
  display: flex;
}
.Investment .set5 .opt1 .icon {
  margin-right: 15px;
  color: var(--color-light);
}
.Investment .set5 .opt1 .icon svg {
  color: var(--color-light);
}
.Investment .set6 .col-md-3 {
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 191, 0.408);
}
.Investment .set7 .col-md-3 {
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 191, 0.408);
}
.Investment .set7 .col-md-3 p {
  margin: 0;
  text-align: center;
}

.PDF {
  height: 100vh;
  background-color: #f8f9fc;
}
.PDF i {
  color: #dc3545 !important;
}

.Video {
  height: 100vh;
  background-color: #f8f9fc;
}
.Video i {
  color: #f10075 !important;
}/*# sourceMappingURL=emma.css.map */