/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* About Starts Here*/


.backgroung_img{
    background-image: url(../img/unique-process/DSC05479_edit-3.webp);
    background-color: black;
    height: 100vh;
}

.about_header{
    text-align: center;
    padding-top: 100px;
    font-family: Sanomat Web,serif;
    font-size: 49px;
    font-weight: 550;
    line-height: 1.25;
    color: white;
}
.about_paragraph{
    text-align: center;
    font-family: Sanomat Web,serif;
    font-size: 23px;
    font-weight: 550;
    padding-top: 50px;
    color: white;
}
.vl{
    border-left: 2px solid white;
    height: 100px;
    position: absolute;
    left: 50%;
}
.vertical_line{
    padding-top: 50px;
}
.learn_more_about a{
    text-decoration: none;
    padding-top: 155px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.section_two_about{
    height: auto;
    z-index: 99;
}
.section_two_paragraph{
    padding-top: 90px;
    font-size: 20px;
    font-family: Sanomat Web,serif;
}
.section_two_head{
    max-width: 80%;
    font-size: 40px;
    font-weight: 750;
    font-family: Sanomat Web,serif;
}
.d-flex{
    display: flex;
}
.section_two_about_text_section{
    width: 50%;
}
.section_two_about_divs{
    display: flex;
    padding-top: 30px;
}
.section_two_about_img{
    width: 100%;
    padding-left: 20px;
    height: 700px;
    object-fit: cover;
    padding-bottom: 20px;
}
.section_two_txt{
    font-size: 20px;
    font-weight: 550;
}
.txt_two{
    padding-top: 30px;
}
.txt_three{
    padding-top: 30px;
}
.img_section{
    width: 60%;
}
.hr_spacing{
    padding-top: 18px;
}



.section_three{
    text-align: center;
}

.section_four img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 20px 20px 0px 20px;
}
.Ares_section{
    background-color: white;
    margin-top: -70px;
    position: relative;
    z-index: 99;
}
.Ares_header{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: blue;
    padding-left: 30px;
    padding-bottom: 30px;
}
.Ares_medium_text{
    padding-left: 180px;
    padding-right: 180px;
    font-size: 30px;
}
.Ares_small_text{
    padding: 70px;
}

/* About Ends Here*/



/* leadership starts here  */
.section_one_leadership{
    display: flex;
    padding-top: 120px;
}
.leadership_welcome_text{
    padding-top: 150px;
}
.leadership_welcome_head{
    font-size: 75px;
    padding-right: 15px;
}
.leadership_welcome_paragraph{
    font-size: 20px;
    padding-top: 30px;
    padding-right: 15px;
}
.our_team_btn{
    padding-right: 20px;
    padding-top: 15px;
}
.see_team{
    padding-top: 20px;
}
.btn{
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
}
.who-we-are_members-section{
    background-color: #fcf9f0;
    height: 1100px;
    margin-top: 90px;
}
.main_content{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
.who-we-are_members-section_intro{
    width: 40%;
    top: 4rem;
    position: sticky;
}
.who-we-are_members-section_intro h1{
    font-family: Signifier,sans-serif;
    font-size: 8rem;
    font-weight: 200;
    line-height: 8rem;
    margin-top: -40px;
    padding: 35px 35px 20px 35px;
}
.who-we-are_members-section_intro h6{
    font-size: 2.13rem;
    line-height: 3rem;
    padding: 0px 65px 0px 38px;
}
.who-we-are_members-section_images{
    width: 60%;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
.who-we-are_members-section_images h4{
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
}
.who-we-are_members-section_images img{
    height: 330px;
}
.who-we-are-single-members-one{
    transition: transform .5s;
}
.who-we-are-single-members-one:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.who-we-are-single-members-two{
    transition: transform .5s;
}
.who-we-are-single-members-two:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.who-we-are-single-members-three{
    transition: transform .5s;
}
.who-we-are-single-members-three:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.content_space{
    padding-bottom: 70px;
}
.talented-folks_title{
    max-width: 50rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding-top: 100px;
}
.h0{
    margin-top: 0;
    font-family: Signifier,sans-serif;
    font-size: 5rem;
    font-weight: 300;
    line-height: 5.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 4px;
    padding: 3px;
  }
  
  .grid-container > div {
    background-image: url(../img/leadership/ceo_one.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 90px 0;
  }
  
  .item1 {
    grid-row: 1 / 3;
  }

  .item1 img{
    object-fit: cover;
    height: 200px;
  }
  .pill-text_wrap{
    min-height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
  }
.pill-text{
    padding-left: 10px;
}
.btn_direction{
    padding-bottom: 20px;
}
.pill_grid{
    background-color: #fcf9f0;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}
.pill_grid h4{
    font-size: 8rem;
    font-weight: 5500;
    line-height: 5.25rem;
}
.grid-container_pill_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #fcf9f0;
    padding: 10px;
  }
  .grid-item_pill_grid {
    background-color: #fcf9f0;
    border: 6px solid white;
    padding: 75px;
    font-size: 30px;
    text-align: center;
  }
  .span_pill_grid{
    font-size: 20px;
    margin-bottom: -40px;
  }
/* leadership ends here  */

/* real estate starts here  */
.real_estate_section_one{
    height: 1000px;
    width:100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.sec1--{
    height: 400px;
    margin: auto;
    background-color: #ffff;
}

.real_estate_section_one_header{
    max-width: 80%;
}

.real_estate_section_one_text{
    height: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    line-height: 30px;
    padding: 40px;
}
.real_estate_section_banner img{
    width: 100%;
}
.real_estate_section_one_text_one{
    height: 400px;
    width: 50%;
}
.real_estate_section_one_text_two{
    height: 400px;
    width: 50%;
}
.real_estate_bg{
    background-color: #ffff;
    margin-top: -110px;
    position: absolute;
    width: 80%;
    margin-left: 18px;
}
.real_estate_section_one_header h1{
    font-size: 63px;
}


/* section 2 start */
.sec2{
    height: 700px;
    width: 100%;
    margin: auto;
    color: white;
}
.sec2-{
    height: 700px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}

.sec2--{
    height: 730px;
    width: 92%;
    /* margin: auto; */
    background-color: #012a41;
    position: relative;
}

.sec2-details{
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
    margin-left: 180px;
}
.sec2-- h1{
    margin-left: 15%;
    color: white;
    font-size: 70px;
}

.sec2-right{
    width: 34%;
    position: absolute;
    left: 65%;
    margin-bottom: 245px;
}
.real_estate_note{
    color: #ffff;
    padding: 18px 42px 10px 150px;
    font-size: 11px;
}
.experience_header{
    padding: 70px 240px 0px 170px;
}
.experience_text{
    display: flex;
    padding: 55px 219px 30px 160px;
    gap: 50px;
}
.experience_text_one{
    width: 50%;
}
.experience_text_two{
    width: 50%;
}

.sec3{
    width: 100%;
    height: 1300px;
    color: #5f7987 ;
}

.sec3-{
    width: 55%;
    height: 1000px;
    margin: auto;
}


.sec3-  h2{

    font-size: 30px;
    font-weight: 500;
}

.sec3--{
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    line-height: 20px;
}

.sec3-- p{
   width: 50%;
}

.sec3-rows{
    width: 100%;
    height: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    padding: 0px 179px 199px 200px;
    gap: 4rem;
}
.rows{
    width: 100%;
}
.rows img{
    width: 100%;
    height: auto;
}


/* section 4 start */
.sec4{
    height: 900px;
    width: 100%;
    background-color: #f2f5f8;
}

.sec4-{
    height: 900px;
    margin: auto;
    padding: 20px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

.sec4--{
    /* width: 20%; */
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}
.sec4- h1{
    font-size: 50px;
    font-weight: 200;
    padding: 30px 0px 30px 0px;
}

.sec4svg{
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}

.sec4svg svg{
   font-size: 50px;
   color: white;
}


.sec4-box{
   
    background-color: #0f3557;
    padding: 30px;

}

.sec4-box svg{
    color: white;
}

.arrorSvg{
    float:right;
}
/* section 4 ends */


/* section 5 start */
.sec5{
    width: 100%;
    height: 700px;
    /* color: white; */
}

.sec5-{
    height: 700px;
    width: 80%;
    margin: auto;
}

.sec5- h1{
    font-weight: 500;
}

.sec5--{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec5-box{
    height: 300px;
    width: 25%;
    background-color: #0f3557;

}
/* body{
    margin: 80%;
    margin: auto;
} */
/* real estate ends here  */

/* unique section starts here */
.bxg{
    background-color: black;
    width: 100%; 
}
.bxg img{
    width: 100%;
}
.bxg h2{
    color: white;
    font-size: 45px;
    font-size: 500;
    text-align: center;
    padding-top: 30px;
}
.bxg p{
    font-size: 18px;
    font-weight: 400;
}
.bxg ul{
    list-style: none;
}
.bxg img{
    align-content: center;
    height: 600px;
    object-fit: contain;
}
.unique_section {
    max-width: 80%;
    height: 300px;
    padding-top: 50px;
    text-align: center;
}
.unique_section h1{
    font-size: 45px;
    font-weight: 500;
}
.unique_section h4{
    padding-top: 30px;
    font-size: 20px;
}
.Sustainability_section h1{
    color: #012a41;
}
.Sustainability_section p{
    max-width: 80%;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}
.Sustainability{
    background-image: url(../img/unique-process/windmill.webp);
    height: 500px;
}
.content_center_Sustainability h3{
   
    padding: 30px !important;
    font-size: 30px;
    color: #ffff;
    font-weight: 500;
}
.content_center_Sustainability p{
    display: flex;
    justify-content: flex-start;
}
.recent_news_bg{
    background-color: #023b5c;
}
.recent_news_intro_text{
    color: #ffff;
    padding: 37px 0px 40px 35px;
}
.recent_news{
    display: flex;
}
.recent_news_img{
    width: 50%;
}
.recent_news_text{
    width: 50%;
    background-color: #ffff;
    height: 460px;
    padding: 25px;
}
.recent_news_text h3{
    font-size: 15px;
    padding-bottom: 20px;
}
.recent_news_img img {
    width: 100%;
    height: 460px;
}
.recent_news_col{
    display: flex;
}
.recent_news_col img{
    height: 300px;
}
.news_img_col img{
    width: 100%;
    height: 220px;
}
.news_img_col{
    display: block;
    justify-content: center;
    height: 460px;
    background-color: #ffff;
    margin-bottom: 20px;
}
.news_img_col p{
    padding: 25px 20px 0px 20px;
    color: #5f7987;
    font-size: 12px;
}
.news_img_col h2{
    padding: 20px;
    font-size: 23px;
}
 
/* unique section ends here */


/* Multi-asset page begins here */
.pg-banner {
    background-image: url(../img/Multi_asset//SS-153366590.jpg);
    height: 520px;
    width: 100%;
}
.pg-banner .container h1 {
    font-size: 52px;
    font-weight: 600;
    color: #fff;
    margin-top: 250px;
}
.ma-three-box {
    padding: 65px 10px;
}
.ma-three {
    border-left: 4px solid #326295;
    padding: 10px 10px 10px 45px;
    min-height: 380px;
    height: fit-content;
}
.ma-three h5 {
    font-size: 38px;
    font-weight: 500;
    color: #326295;
    margin-bottom: 15px;
}
.ma-three p {
    color: #65646a;
    font-size: 18px;
    line-height: 22px;
}
.bg-black {
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 30px 0px;
}

.ma-iva h5 {
    color: #FFF;
    font-size: 44px;
    line-height: 38px;
    margin-bottom: 5px;
}
.ma-iva .small-dash-line {
    width: 100px;
    float: left;
    border: solid 2px #306095;
}
.ma-iva h6 {
    font-size: 35px;
    color: #8AC0E6;
    padding-top: 60px;
    line-height: 38px;
    padding-bottom: 30px;
}
.ma-iva p {
    color: #fff;
}

.ma-port-box, .ma-port-box2 {
    padding: 50px 0px;
}
.ma-port-box2 {
    background-color: #eef7ff;;
}
.ma-portf h5 {
    color: #272929;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}
.ma-portf p {
    color: #272929;
}
.ma-portf-img img {
    object-fit: contain;
    object-position: 100%;
    width: 100%;
    height: 450px;
}

.ma-ivph {
    padding: 85px;
    background-color: #fff;
}
.ma-invp-b h5 {
    color: #004984;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: 800;
}
.ma-ivvp-p {
    margin-top: 40px;
}
.ma-ivvp-p .par h6 {
    font-size: 18px;
    font-weight: 600;
}
.ma-prin {
    padding: 65px 0px;
}
.ma-prin-bx img {
    object-fit: contain;
    object-position: 100%;
    width: 100%;
    height: 400px;
}
.ma-prin-bx h5 {
    color: #272929;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}


/* ==================  Infrastructure page begins --------= */
.infr-banner {
    width: 100%;
    height: 550px;
    background-image: url('../img/infrastructure/infrastructure-bg.jpg');
    background-position: 100% 50%;
    background-position: cover;
}
.bg-cover {
    background-color: #1213138f;
    width: 100%;
    height: 100%;
}
.infr-bx h4 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    margin-top: 230px;
    margin-bottom: 15px;
}
.infr-bx p {
    color: #fff;
    padding: 0px 450px 0px 0px;
}

.infr-bx-a {
    background-color: #f1f2f7;
    padding: 65px 0px;
}
.infr-bxm {
    text-align: center;
}
.infr-bxm h4 {
    font-size: 32px; 
    font-weight: 600;
    color: #000;
}
.infr-bxm p {
    color: #666;
    font-size: 16px;
    padding: 13px 85px;
}
.cardw {
    background: #fff;
    border: 1px solid #ffffffdc;
    height: 430px;
    margin-bottom: 75px;
    margin-top: 15px;
}
#infr-vid {
    height: 100%;
    width: 100%;
}
.bcx {
    padding-top: 15px;
}
.cardw-b span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cardw-b h6 {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 25px 0px;
    margin-bottom: 25px;
}
.cardw-b p {
    font-size: 15px;
}
.wmku-o h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.wmku-o h4 {
    font-size: 25px;
    font-weight: 600;
}
.wmku-p h6{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 27px;
}
.wmku-p p {
    font-size: 16px;
}
.hist-con {
    background-color: #fff;
    padding: 65px;
}
.inf-chart {
    margin: 25px 0px;
}

.tari-bx {
    background-color: #fff;
    padding: 55px 0px;
}
.tari-h4 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 55px;
}
.tari-bxa {
    margin-bottom: 135px;
}
.tari-bxa img {
    object-fit: cover;
    object-position: 100%;
    width: 500px;
    height: 350px;
    padding-left: 65px;
}
.tari-bxb {
    background-color: #8AC0E6;
    padding: 65px 20px;
    margin-bottom: 100px;
}
.tari-bxb h4 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 65px;
    padding-left: 25px;
}
.tari-bxb2m {
    width: 85%;
    margin: 0 auto;
}
.tari-bxb2 img {
    object-fit: cover;
    object-position: 100%;
    width: 100%;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
}
.tari-bxb2 h6 {
    font-size: 24px;
    font-weight: 500;
}


.val-h6 {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 45px;
}
.val-bx2 img {
    object-fit: cover;
    object-position: 100%;
    width: 100%;
    height: 250px;
}
.val-bx2 h6 {
    font-size: 18px;
    font-weight: 600;
}
.val-bx2 p {
    font-size: 15px;
}
.last-infra {
    background-image: url('../img/infrastructure/infra-foot.jpg');
    height: 600px;
    width: 100%;
}
.infra-ft h1 {
    color: #fff;
    font-size: 54px;
    padding-right: 65px;
    margin-top: 120px;
}












.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/banner.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}

.sec1{
    width: 90%;
    margin: auto;
    position: relative;
    top: 60%;
}

.sec1 h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.sec1 p{
    font-size: 18px;
}

.sec2{
    width: 100%;
    height: 200px;
}

.sec2-{
    height: 200px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.sec3{
    height: 400px;
    width: 100%;
    background-color:
    #4887b2 ;
    color: white;
}

.sec3-rep{
    margin-left: 10%;
    /* padding-top: 100px 0; */
}

.sec3-rep h1{
    font-size: 40px;
    font-weight: 700;
}

.sec3-{
    height: 300px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 5rem;

}
.se3--{
    text-align: center;
}

.sec3-- p{
font-size: 15px;
font-weight: 700;
}
.sec3-- .svg{
    width: 30%;
    margin: auto;
}

.svg svg{
    /* height: 100%; */
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.sec4{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4-{
    /* height: 400px; */
    width: 80%;
    margin: auto;
}

.sec4- h1{
    /* height: 400px; */
    font-size: 50px;
    font-weight: 400;
}

.sec4-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4-btn button{
    padding: 10px ;
    width: 20%;
    font-weight: 800;
    background-color: white;
    border: 1px thin;
    margin-top: 50px;
}

.sec4-btn button:hover{
    background-color: 
    #083151;
    color: white;
}

.sec4-details{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #ededed;
    margin-top: 50px;
}

.details-left{
    height: 300px;
    width: 60%;
}

.details-left img{
    height: 100%;
    
    width: 100%;
    object-fit: cover;
}

.details-right{
    /* height: 200px; */
    width: 40%;
    /* text-align: center; */
    padding: 10px;
  
}


.details-right h1{
   font-size: 27px;
   font-weight: 500;
   margin-bottom: 30px;
}

.details-right p{
    font-size: 18px;
    line-height: 30px;
    /* font-weight: 500; */
 } 

 .sec5{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
 }
 .sec5-{
    width: 90%;
    margin: auto;
    position: relative;
    top: 40%;
 }

 .sec5- h1{
    font-size: 50px;
 }

 .sec5- h3{
    font-size: 20px;
 }

 .sec5-details{
    width: 60%;
    line-height: 40px;
 }

 .sec5-details p{
    font-size: 20px;
    font-weight: 700;
 }

 .sec6{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .sec6-{
    /* height: 500px; */
    width: 80%;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
 }

 .sec6- h1{
    /* height: 400px; */
    font-size: 45px;
    font-weight: 400;
}
.sec6-details{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 2rem;
   margin-top: 70px;
}

.sec6-details h3{
    font-size: 20px;
    color: #083151;
    margin-bottom: 10px;
 }
 .sec6-details p{
    font-size: 18px;
    line-height: 30px;
 }
 .sec6-details div{
    height:180px;
    width: 30%;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(44, 43, 43, 0.9);

 }

 /* sec 7 */
 .sec7{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

 }

 .sec7-{
    /* height: 500px; */
    width: 80%;
    /* margin: auto; */
    /* display: block;
    align-items: center;
    justify-content: center; */
 }

 .sec7- h1{
    /* height: 400px; */
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
}
.sec7- p{
    font-size: 20px;
    font-weight: 500;
}

.sec7- a{
color: #098571;
text-decoration: none;
font-weight: 900;
}
.sec7-details{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 2rem;
   margin-top: 70px;
}
.sec7-details img{
 border-top-right-radius:50px ;
 border-top-left-radius:50px ;
 border-bottom-left-radius:50px ;
 }


 /* section 8 */
 .sec8{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
 }

 .sec8-{
    /* height: 500px; */
    width: 80%;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
 }

 .sec8- h1{
    /* height: 400px; */
    font-size: 45px;
    font-weight: 400;
}
.sec8-details{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 2rem;
   margin-top: 70px;
}

.sec8-details h3{
    font-size: 20px;
    color: #083151;
    margin-bottom: 10px;
 }
 .sec8-details p{
    font-size: 18px;
    line-height: 30px;
 }
 .sec8-details div{
    height:400px;
    width: 30%;
    padding: 20px;
    background-color: 
#f6f6f6;
    /* box-shadow: 2px 2px 10px rgba(44, 43, 43, 0.9); */

 }

  .sec8-details h6 {
        margin-bottom: 20px;
 }

 .sec8-details button {
    background-color: 
#083151;
padding: 15px 20px;
color: white;
 }