* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ml100 {
  margin-left: 100px !important;
}

.w100 {
  width: 100% !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pt150 {
  padding-top: 150px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.margin60 {
  margin: 60px 0;
}

.margin50 {
  margin: 50px 0;
}

.margin70 {
  margin: 70px 0;
}

.margin100 {
  margin: 100px 0;
}

.margin40 {
  margin: 40px 0;
}

.margin30 {
  margin: 30px 0;
}

.margin20 {
  margin: 20px 0;
}

.margin25 {
  margin: 25px 0;
}

.margin15 {
  margin: 15px 0;
}

.margin400 {
  margin: 400px 0;
}

.padding60 {
  padding: 60px;
}

.padding0 {
  padding: 0px;
}

.margin0 {
  margin: 0px;
}

.padding50 {
  padding: 50px;
}

.padding70 {
  padding: 70px;
}

.padding100 {
  padding: 100px 0;
}

.padding40 {
  padding: 40px;
}

.padding30 {
  padding: 30px;
}

.padding20 {
  padding: 20px;
}

.padding10 {
  padding: 10px;
}

.line {
  border-top: 1px solid #ff6200;
  width: 103px;
}

.thickline {
  border-top: 3px solid #ff6200;
  width: 70px;
}

.dash {
  border-bottom: 1px solid rgb(219, 216, 216);
}

.borderleft {
  border-left: 3px solid #F06C00;
}

.bordertop {
  border-top: 3px solid #F06C00;
}

.borderbottom {
  border-bottom: 3px solid #F06C00;
}

.borderright {
  border-right: 3px solid #F06C00;
}

.borderlefts {
  border-right: 3px solid #012A41;
}

.borderrights {
  border-right: 3px solid #F06C00;
}

.ESG .Banner1 {
  background-position: center;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/pexels-stephan-seeber-1261728.jpg);
}
.ESG .Banner1 .text {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}
.ESG .Banner1 .text h5,
.ESG .Banner1 .text h1 {
  margin: 0 !important;
  margin-bottom: 5px !important;
  color: white;
}
.ESG .Banner1 .text h5 {
  font-size: 20px;
}
.ESG .Banner1 .text h1 {
  font-size: 50px;
}
.ESG .section2 {
  height: 50vh;
  text-align: center;
  margin: 60px 0;
}
.ESG .section2 .video1 {
  padding: 70px;
}
.ESG .section2 .video1 video {
  margin-left: 250px;
}
.ESG .section3 {
  background-color: #fbfcfe;
  padding: 50px 0;
}
.ESG .section3 h3 {
  line-height: 1.13;
  font-size: 27px;
  letter-spacing: 0.3px;
  color: #123a5f !important;
}
.ESG .section3 .img {
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/img/tri.png);
}
.ESG .section5 .top {
  font-size: 20px;
}
.ESG .section5 .top p {
  margin-bottom: 10px !important;
}
.ESG .section5 .top h3 {
  font-size: 30px;
  color: #123a5f;
  margin-top: 10px !important;
}
.ESG .section5 .down {
  margin-top: 100px;
}
.ESG .section5 .down .header {
  text-align: center;
  display: flex;
  align-items: center;
}
.ESG .section5 .down .header h3 {
  color: #123a5f;
}
.ESG .section5 .down .header .number {
  color: #5c9b96;
  margin-right: 30px;
}
.ESG .section6 {
  background-color: rgb(242, 242, 243);
  padding: 60px 0;
}
.ESG .section6 img {
  margin-bottom: 10px;
}
.ESG .section6 h1 {
  color: #123a5f;
  font-size: 60px;
}
.ESG .section7 {
  background-image: url(../../assets/img/a_heltzer_quote_image_0.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}
.ESG .section7 .text {
  background-color: #012a41;
  padding: 50px 30px;
  width: 600px;
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: -20px;
  right: 30px;
}
.ESG .section7 .text .dot {
  display: flex;
}
.ESG .section7 .text .dot span {
  font-size: 50px;
  margin-right: 15px;
}
.ESG .section7 .text .dot p {
  margin-bottom: 0px !important;
}
.ESG .section7 .text .dot .p1 {
  padding-top: 20px;
}
.ESG .section7 .text .dot .p2 {
  border-bottom: 1px solid white;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 8px;
}
.ESG .section7 .text .dot .down {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
.ESG .section8 h1 {
  font-size: 60px;
  color: #123a5f;
}
.ESG .section8 .index1 {
  display: flex;
}
.ESG .section8 .index1 div {
  margin: 20px;
  text-align: left;
}
.ESG .section9 {
  background-color: #F2F2F3;
  padding: 70px 0;
}
.ESG .section9 h1 {
  font-size: 60px;
  color: #123a5f;
}
.ESG .section9 .index1 {
  display: flex;
}
.ESG .section9 .index1 div {
  margin: 20px;
  width: 400px;
  text-align: left;
}
.ESG .section9 .accordion {
  color: #012a41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-top: 1px solid #012a41;
  transition: 0.4s;
}
.ESG .section9 .accordion h3 {
  color: #012a41;
  font-size: 20px;
}
.ESG .section9 .accordion svg {
  color: #9C6E02;
}
.ESG .section9 .panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #F2F2F3;
}
.ESG .section9 .panel h5 {
  color: #012a41;
  font-size: 20px;
}
.ESG .section9 .panel p {
  margin-bottom: 10px !important;
  color: #012A41;
}
.ESG .section10 {
  padding: 60px 0;
}
.ESG .section10 h1 {
  color: #123a5f;
  font-size: 60px;
}
.ESG .section10 img {
  margin-bottom: 10px;
}
.ESG .section10 .more {
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px;
  justify-content: space-between;
  border-bottom: 2px solid #123a5f;
  color: #123a5f;
}
.ESG .section10 .more p {
  margin: 0 !important;
}
.ESG .section10 .more svg {
  color: #9C6E02;
}

.Diversity .banner1 {
  background-position: center;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.nb.com/-/media/NB/Firm-Pages/EID/EID_Hero_1600x500_r2.ashx);
}
.Diversity .banner1 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}
.Diversity .banner1 .text h3,
.Diversity .banner1 .text p {
  margin: 0 !important;
  margin-bottom: 5px !important;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.Diversity .banner1 .text p {
  font-size: 20px;
}
.Diversity .banner1 .text h3 {
  font-size: 40px;
}
.Diversity .section1 h3 {
  color: #F06C00;
  font-size: 30px;
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}
.Diversity .section1 .bord {
  padding: 30px 40px;
}
.Diversity .section2 p {
  margin-bottom: 10px;
}
.Diversity .section2 p b {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  color: #123a5f;
}
.Diversity .section2 .up {
  margin-top: 30px;
}
.Diversity .section3 {
  padding: 50px 0;
  background-image: linear-gradient(to bottom, #EDF2F5, #f8fafb 15%, #ffffff);
}
.Diversity .section3 p {
  margin-bottom: 10px;
}
.Diversity .section3 p b {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  color: #123a5f;
}
.Diversity .section3 .up {
  margin-top: 30px;
}
.Diversity .bg-white {
  background-color: rgb(255, 255, 255) !important;
}
.Diversity .section4 img {
  width: 100%;
}
.Diversity .section4 p {
  margin-bottom: 10px;
}
.Diversity .section4 p b {
  color: #123a5f;
  margin-top: 10px;
  font-size: 20px;
}
.Diversity .section4 h1 {
  font-size: 60px;
  color: #123a5f;
  margin-top: 0px;
  margin-bottom: 40px;
}
.Diversity .section4 .col-md-3 {
  margin: 30px;
}
.Diversity .section4 .col-md-3 img {
  width: 70% !important;
}

.leftwhite {
  border-left: 1px solid white;
}

.rightwhite {
  border-right: 1px solid white;
}

.Responsible .banner1 {
  background-position: bottom center;
  height: 80vh;
  background-size: cover;
  background-color: #000;
  background-blend-mode: normal;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(https://www.gcmgrosvenor.com/wp-content/uploads/SEDM-headver-v1-web.jpg);
}
.Responsible .banner1 .text {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
}
.Responsible .banner1 .text h1 {
  font-size: 60px;
  color: white;
}
.Responsible .banner1 .text p {
  font-size: 20px;
}
.Responsible .banner1 .down {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  bottom: -50px;
  left: 10%;
  text-align: center;
}
.Responsible .banner1 .down div {
  width: 500px;
  background-color: #083151;
  color: white;
}
.Responsible .banner1 .down div h2 {
  color: white;
  font-size: 40px;
  margin: 10px 0;
}
.Responsible .section1 {
  background-color: #F2F2F3;
}
.Responsible .section1 h2 {
  color: #083151;
  font-size: 40px;
}
.Responsible .section2 h2 {
  color: #083151;
  font-size: 50px;
  text-align: right;
  margin: 0;
  line-height: 50px;
}
.Responsible .section2 img {
  margin-top: 50px;
  margin-bottom: 20px;
}
.Responsible .section2 span {
  font-size: 13px;
}
.Responsible .section3 h2 {
  color: #012a41;
  font-size: 50px;
}
.Responsible .section3 .accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-top: 2px solid #012a41;
  font-size: 15px;
  background-color: #f8f8f8;
  transition: 0.4s;
}
.Responsible .section3 .accordion h3 {
  color: #012a41;
  font-size: 20px;
}
.Responsible .section3 .accordion svg {
  color: #9C6E02;
}
.Responsible .section3 .panel {
  padding: 20px;
  display: none;
  overflow: hidden;
  background-color: #F2F2F3;
}
.Responsible .section3 .panel h5 {
  color: #012a41;
  font-size: 20px;
}
.Responsible .section4 {
  padding: 50px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9137254902), rgba(255, 255, 255, 0.9137254902)), url(https://www.commonfund.org/hubfs/CF%20Website%20Assets%20-%202020/Global/group-collaborating-computers.jpg);
}
.Responsible .section4 h2 {
  color: #083151;
  font-size: 50px;
  text-align: left;
  margin: 0;
  line-height: 60px;
}
.Responsible .section5 {
  padding: 50px 0;
  background-color: #F2F2F3;
}
.Responsible .section5 h2 {
  color: #083151;
  font-size: 40px;
}
.Responsible .section6 .dark {
  border-left: 3px solid #9C6E02;
  padding-left: 20px;
}
.Responsible .section6 h2 {
  font-size: 40px;
}
.Responsible .section6 .accordion {
  color: #012a41;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.Responsible .section6 .accordion h3 {
  color: #012a41;
  font-size: 20px;
}
.Responsible .section6 .accordion svg {
  color: #9C6E02;
}
.Responsible .section6 .panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
  border: none;
}
.Responsible .section6 .panel h5 {
  color: #012a41;
  font-size: 20px;
}
.Responsible .section6 .panel p {
  margin-bottom: 10px !important;
  color: #012A41;
}

.Home .Banner1 {
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-color: #000;
  background-blend-mode: normal;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/pexels-pixabay-414837.jpg);
}
.Home .Banner1 .text {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
}
.Home .Banner1 .text h1 {
  margin: 0;
  font-size: 60px;
  color: white;
}
.Home .Banner1 .text p {
  margin: 0;
  font-size: 20px;
}
.Home .Banner1 .text p b {
  font-size: 15px;
}
.Home .Banner1 .text a {
  text-decoration: none;
  color: white;
}
.Home .Banner1 .text a button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 23px;
}
.Home .Banner1 .text a button p {
  font-size: 14px;
}
.Home .Banner1 .text a button svg {
  margin-left: 20px;
}
.Home .Banner1 .text a button:hover {
  background-color: rgba(255, 255, 255, 0.434);
  transition: all 0.5s ease-out;
}
.Home .section1 .big {
  font-size: 25px;
  margin-top: 50px;
}
.Home .section1 h2,
.Home .section1 p {
  margin: 0;
}
.Home .section1 .rightline {
  border-right: 1px solid #083151;
}
.Home .section2 {
  min-height: 80vh;
  position: relative;
}
.Home .section3 .pl10 {
  padding-left: 10px !important;
}
.Home .section3 .pr10 {
  padding-right: 10px !important;
}
.Home .section3 .col-md-6 {
  padding: 0 !important;
}
.Home .section3 .line1 {
  border-top: 10px solid #2973b9;
  border-bottom: 10px solid #2973b9;
}
.Home .section3 .line2 {
  border-bottom: 10px solid #e68f1a;
  border-top: 10px solid #e68f1a;
}
.Home .section3 .bal {
  margin-bottom: 61.5px;
}
.Home .section3 .line1,
.Home .section3 .line2 {
  padding-bottom: 40px;
}
.Home .section3 .line1 h2,
.Home .section3 .line2 h2 {
  color: #083151;
  font-size: 40px;
}
.Home .section3 .line1 p,
.Home .section3 .line2 p {
  padding: 0 5px;
}
.Home .section4 .all1,
.Home .section4 .all2,
.Home .section4 .all3,
.Home .section4 .all4,
.Home .section4 .all5,
.Home .section4 .all6 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/aa.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 500px;
  cursor: pointer;
}
.Home .section4 .all1 .text,
.Home .section4 .all2 .text,
.Home .section4 .all3 .text,
.Home .section4 .all4 .text,
.Home .section4 .all5 .text,
.Home .section4 .all6 .text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
}
.Home .section4 .all1 h1,
.Home .section4 .all2 h1,
.Home .section4 .all3 h1,
.Home .section4 .all4 h1,
.Home .section4 .all5 h1,
.Home .section4 .all6 h1 {
  color: white;
}
.Home .section4 .all1 p,
.Home .section4 .all2 p,
.Home .section4 .all3 p,
.Home .section4 .all4 p,
.Home .section4 .all5 p,
.Home .section4 .all6 p {
  display: none;
}
.Home .section4 .all1 button,
.Home .section4 .all2 button,
.Home .section4 .all3 button,
.Home .section4 .all4 button,
.Home .section4 .all5 button,
.Home .section4 .all6 button {
  color: #94cef3;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.Home .section4 .all1 button p,
.Home .section4 .all2 button p,
.Home .section4 .all3 button p,
.Home .section4 .all4 button p,
.Home .section4 .all5 button p,
.Home .section4 .all6 button p {
  margin: 0;
  margin-right: 20px;
  display: none;
}
.Home .section4 .all1:hover,
.Home .section4 .all2:hover,
.Home .section4 .all3:hover,
.Home .section4 .all4:hover,
.Home .section4 .all5:hover,
.Home .section4 .all6:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/aa.webp);
  transition: all 0.8s ease-in-out;
}
.Home .section4 .all1:hover p,
.Home .section4 .all2:hover p,
.Home .section4 .all3:hover p,
.Home .section4 .all4:hover p,
.Home .section4 .all5:hover p,
.Home .section4 .all6:hover p {
  display: block !important;
}
.Home .section4 .all1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/aa.webp);
}
.Home .section4 .all2 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/bb.webp);
}
.Home .section4 .all13 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/cc.webp);
}
.Home .section4 .all4 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/New-City-Rises_Preview_1100x600.webp);
}
.Home .section4 .all5 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/oaktree-sm.jpeg);
}
.Home .section4 .all6 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0.1647058824)), url(../../assets/img/insurance_solutions_home_page_grid.webp);
}
.Home .section5 p b {
  color: #083151;
  font-size: 20px;
}
.Home .section5 .lline {
  border-bottom: 1px solid #012a41;
}
.Home .section5 button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  color: #083151;
  font-size: 20px;
  background-color: transparent;
  transition: 0.4s;
}
.Home .section5 button p {
  margin: 0;
}
.Home .section6 .col-md-6 {
  padding: 0 !important;
}
.Home .section6 .linegreen {
  width: 100px;
  border-top: 3px solid green;
}
.Home .section6 .carousel {
  margin: 30px 0;
}
.Home .section6 .carousel h1 {
  font-size: 50px;
}
.Home .section6 .carousel .text {
  padding: 20px;
}
.Home .section6 .carousel .text p {
  font-size: 23px;
  margin: 0;
}
.Home .section6 .carousel .text span {
  font-size: 13px;
}
.Home .section6 .carousel .text button {
  margin-top: 30px;
  background-color: #083151;
  color: white;
  border-radius: 5px;
  padding: 5px 12px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
}
.Home .section6 .carousel .text button p {
  margin: 0;
  font-size: 14px;
}
.Home .section6 .carousel .text button svg {
  margin-left: 10px;
}
.Home .section6 .line2 {
  background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-news-web.jpg);
}
.Home .section6 .line3 {
  background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-DEI-4-web.jpg);
}
.Home .section6 .line2,
.Home .section6 .line3,
.Home .section6 .line4 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}
.Home .section6 .line4 {
  background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-page-our-impact-3-web.jpg);
}
.Home .section6 .ttext h1 {
  font-size: 50px;
}
.Home .section6 .ttext p {
  font-size: 20px;
}
.Home .section6 .ttext button {
  background-color: #083151;
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  outline: none;
}

.carousel-cell {
  width: 100%;
  height: 220px;
  margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #083151 !important;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #083151;
}

.flickity-button-icon {
  color: white !important;
  width: 16px !important;
  height: 16px !important;
}

.flickity-button {
  background-color: #083151 !important;
  width: 30px !important;
  height: 30px !important;
}

.marginp {
  margin: 50px 0;
}

.whitecol {
  color: white;
}

.sec4-box {
  height: 360px;
  width: 320px;
  margin: 10px;
  transition: 0.5s linear;
  cursor: pointer;
}
.sec4-box:hover {
  height: 500px;
  width: 400px;
  transition: 0.5s linear;
}
.sec4-box:hover .down {
  display: block !important;
  transition: 0.5s linear;
}
.sec4-box:hover .arrorSvg svg:nth-child(2) {
  display: block;
}
.sec4-box:hover .arrorSvg svg:nth-child(1) {
  display: none;
}

.roww {
  display: flex;
  flex-wrap: wrap;
}

.down {
  display: none;
  padding: 15px;
  position: absolute;
}
.down h2 {
  color: white;
  margin: 0;
}
.down p {
  color: #94cef3;
}

.arrorSvg svg {
  color: #94cef3 !important;
}
.arrorSvg svg:nth-child(2) {
  display: none;
}

@media only screen and (max-width: 500px) {
  .sec4-box:hover {
    height: 530px !important;
    width: 350px !important;
  }
  .last-infra h1 {
    font-size: 35px !important;
    margin-top: 90px !important;
  }
  .ml100 {
    margin-left: 0px !important;
  }
  .ml50 {
    margin-left: 0px !important;
  }
  .pt150 {
    padding-top: 70px !important;
  }
  .marginp {
    margin: 170px 0 !important;
  }
  .carouselss .carousel-cell .cells1 .text,
  .carouselss .carousel-cell .cells2 .text,
  .carouselss .carousel-cell .cells3 .text {
    padding-top: 40px !important;
  }
  .carouselss .carousel-cell .cells1 .text h2,
  .carouselss .carousel-cell .cells2 .text h2,
  .carouselss .carousel-cell .cells3 .text h2 {
    font-size: 37px !important;
  }
  .about_header {
    font-size: 40px !important;
    padding-top: 50px !important;
  }
  .about_paragraph {
    font-size: 20px;
  }
  .vl {
    height: 50px !important;
  }
  .learn_more_about a {
    padding-top: 30px !important;
  }
  .ESG .Banner1 .text h5 {
    font-size: 15px !important;
  }
  .ESG .Banner1 .text h1 {
    font-size: 30px !important;
  }
  .ESG .section2 {
    height: 30vh !important;
    margin: 20px 0 !important;
  }
  .ESG .section2 video {
    margin: 0 !important;
  }
  .ESG .section3 .img {
    height: 30vh !important;
  }
  .ESG .section7 {
    height: 50vh !important;
  }
  .ESG .section7 .text {
    padding: 30px 15px !important;
    width: 300px !important;
    font-size: 13px !important;
  }
  .ESG .section7 .text .dot {
    display: flex;
  }
  .ESG .section7 .text .dot span {
    font-size: 40px !important;
    margin-right: 10px !important;
  }
  .ESG .section7 .text .dot p {
    margin-bottom: 0px !important;
  }
  .ESG .section7 .text .dot .p2 {
    font-size: 13px !important;
  }
  .ESG .section7 .text .dot .down {
    font-size: 10px !important;
  }
  .ESG .section8 h1,
  .ESG .section9 h1 {
    font-size: 40px !important;
  }
  .ESG .section8 img,
  .ESG .section9 img {
    width: 90% !important;
  }
  .ESG .section8 .index1,
  .ESG .section9 .index1 {
    display: flex;
  }
  .ESG .section8 .index1 div,
  .ESG .section9 .index1 div {
    margin: 5px !important;
    text-align: left;
  }
  .Diversity .banner1 .text p {
    font-size: 15px !important;
  }
  .Diversity .banner1 .text h3 {
    font-size: 30px !important;
  }
  .Diversity .section2 img {
    width: 100% !important;
  }
  .Diversity .section4 h1 {
    font-size: 40px !important;
  }
  .Responsible img {
    width: 100% !important;
  }
  .Responsible .banner1 .text {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
  }
  .Responsible .banner1 .text h1 {
    font-size: 30px;
    color: white;
  }
  .Responsible .banner1 .text p {
    font-size: 15px;
  }
  .Responsible .banner1 .down {
    left: 10% !important;
    text-align: center;
  }
  .Responsible .banner1 .down .rightwhite {
    border-bottom: 1px solid white !important;
    border-right: none !important;
  }
  .Responsible .banner1 .down .leftwhite {
    border-top: 1px solid white !important;
    border-left: none !important;
  }
  .Responsible .banner1 .down div {
    width: 300px !important;
    background-color: #083151;
    color: white;
  }
  .Responsible .banner1 .down div h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0;
  }
  .Home .Banner1 .text {
    top: 23%;
    left: 4%;
  }
  .Home .section1 .rightline {
    border-right: none !important;
    border-bottom: 1px solid #083151 !important;
  }
  .Home .section2 {
    height: 25vh;
  }
}
.checkk li {
  display: flex;
  list-style: none;
}
.checkk li svg {
  color: #2973b9;
  margin-right: 15px;
  margin-top: 5px;
}

.Drop1 .drop_btn button {
  border: 1px solid #123a5f;
  background-color: white;
  outline: none;
  font-weight: 600;
  padding: 10px 25px;
  color: #123a5f;
}
.Drop1 .drop_btn button:hover {
  background-color: #123a5f;
  color: white;
}
.Drop1 .down {
  max-height: 300px !important;
}
.Drop1 .down img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 300px;
}
.Drop1 .col-md-5 {
  background-color: #EDEDED;
  height: 300px !important;
}
.Drop1 .col-md-7 {
  padding: 0px !important;
}

.greenLine {
  width: 150px;
  border-bottom: 3px solid #06846F;
}

.cells1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/pexels-pixabay-414837.jpg);
}
.cells1 .text h2 {
  font-size: 50px;
}

.carouselss .carousel-cell {
  min-height: 500px !important;
}
.carouselss .carousel-cell .cells1 {
  min-height: 500px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/DSC04298_v2.webp);
}
.carouselss .carousel-cell .cells1 .text {
  padding-top: 80px;
}
.carouselss .carousel-cell .cells1 .text h2 {
  font-size: 50px;
  color: white;
}
.carouselss .carousel-cell .cells1 .text p {
  font-size: 23px;
  color: white;
}
.carouselss .carousel-cell .cells2 {
  min-height: 500px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/Corporate_Blackstone_Anna-01-e1661881960353.webp);
}
.carouselss .carousel-cell .cells2 .text {
  padding-top: 80px;
}
.carouselss .carousel-cell .cells2 .text h2 {
  font-size: 50px;
  color: white;
}
.carouselss .carousel-cell .cells2 .text p {
  font-size: 23px;
  color: white;
}
.carouselss .carousel-cell .cells3 {
  min-height: 500px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/Blackstone_BumbleIPO_Whitney-Balloons_1920x1080_RTC.webp);
}
.carouselss .carousel-cell .cells3 .text {
  padding-top: 80px;
}
.carouselss .carousel-cell .cells3 .text h2 {
  font-size: 50px;
  color: white;
}
.carouselss .carousel-cell .cells3 .text p {
  font-size: 23px;
  color: white;
}

.heightblue {
  height: 290px;
  background: transparent;
}

.secttion11 .div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 500px;
  margin: 10px 0;
  background-color: white;
}
.secttion11 .div h1,
.secttion11 .div h2,
.secttion11 .div h3,
.secttion11 .div p {
  color: black;
}
.secttion11 .div .first {
  position: relative;
}
.secttion11 .div .first img {
  width: 100%;
  height: 170px;
}
.secttion11 .div .first .svg {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: #FF8201;
}
.secttion11 .div .second {
  padding: 20px;
  background-color: white;
}
.secttion11 .div .second span {
  color: #123a5f;
  font-weight: 600;
}
.secttion11 .div .second a {
  position: absolute;
  bottom: 30px;
  text-decoration: underline;
  font-weight: 600;
}

.blueOver {
  background-color: #0F3557;
  padding: 30px 0;
  color: white;
}
.blueOver h1,
.blueOver h2,
.blueOver h3 {
  color: white;
}

.carousellss .carousel-cell {
  width: 350px !important;
  height: 430px !important;
}
.carousellss .carousel-cell .div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 430px;
  margin: 10px 0;
  background-color: white;
}
.carousellss .carousel-cell .div h1,
.carousellss .carousel-cell .div h2,
.carousellss .carousel-cell .div h3,
.carousellss .carousel-cell .div p {
  color: black;
}
.carousellss .carousel-cell .div .first {
  position: relative;
}
.carousellss .carousel-cell .div .first img {
  width: 100%;
  height: 170px;
}
.carousellss .carousel-cell .div .second {
  padding: 20px;
  background-color: white;
}
.carousellss .carousel-cell .div .second span {
  color: #123a5f;
  font-weight: 600;
}
.carousellss .carousel-cell .div .second a {
  position: absolute;
  bottom: 30px;
  text-decoration: underline;
  font-weight: 600;
}

.section_two_about_divs .unique {
  background-position: center;
  background-size: cover;
  background-image: url(../img/unique-process/DSC_2383.webp);
  height: 100%;
}
.section_two_about_divs .heights {
  height: 700px;
}/*# sourceMappingURL=emma.css.map */