* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ml100 {
    margin-left: 100px !important;
}

.w100 {
    width: 100% !important;
}

.ml50 {
    margin-left: 50px !important;
}

.pt150 {
    padding-top: 150px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.margin60 {
    margin: 60px 0;
}

.margin50 {
    margin: 50px 0;
}

.margin70 {
    margin: 70px 0;
}

.margin100 {
    margin: 100px 0;
}

.margin40 {
    margin: 40px 0;
}

.margin30 {
    margin: 30px 0;
}

.margin20 {
    margin: 20px 0;
}

.margin25 {
    margin: 25px 0;
}

.margin15 {
    margin: 15px 0;
}

.margin400 {
    margin: 400px 0;
}

.padding60 {
    padding: 60px;
}

.padding0 {
    padding: 0px;
}

.margin0 {
    margin: 0px;
}

.padding50 {
    padding: 50px;
}

.padding70 {
    padding: 70px;
}

.padding100 {
    padding: 100px 0;
}

.padding40 {
    padding: 40px;
}

.padding30 {
    padding: 30px;
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}

.line {
    border-top: 1px solid #ff6200;
    width: 103px;
}

.thickline {
    border-top: 3px solid #ff6200;
    width: 70px;
}

.dash {
    border-bottom: 1px solid rgb(219, 216, 216);
}

.borderleft {
    border-left: 3px solid #F06C00;
}

.bordertop {
    border-top: 3px solid #F06C00;
}

.borderbottom {
    border-bottom: 3px solid #F06C00;
}

.borderright {
    border-right: 3px solid #F06C00;
}

.borderlefts {
    border-right: 3px solid #012A41;
}

.borderrights {
    border-right: 3px solid #F06C00;
}

.ESG {
    .Banner1 {
        background-position: center;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/pexels-stephan-seeber-1261728.jpg);

        .text {
            position: absolute;
            top: 40%;
            left: 50%;
            // margin: -25px 0 0 -25px;
            text-align: center;
            color: white;
            transform: translate(-50%, -50%);

            h5,
            h1 {
                margin: 0 !important;
                margin-bottom: 5px !important;
                color: white;
            }

            h5 {
                font-size: 20px;
            }

            h1 {
                font-size: 50px;
            }
        }
    }

    .section2 {
        height: 50vh;
        text-align: center;
        margin: 60px 0;

        .video1 {
            video {
                margin-left: 250px;
            }

            padding: 70px;
        }
    }

    .section3 {
        background-color: #fbfcfe;
        padding: 50px 0;

        h3 {
            line-height: 1.13;
            font-size: 27px;
            letter-spacing: .3px;
            color: #123a5f !important;
        }

        .img {
            width: 100%;
            height: 100vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../assets/img/tri.png);
        }
    }

    .section5 {
        .top {
            font-size: 20px;

            p {
                margin-bottom: 10px !important;
            }

            h3 {
                font-size: 30px;
                color: #123a5f;
                margin-top: 10px !important;
            }
        }

        .down {
            margin-top: 100px;

            .header {
                text-align: center;
                display: flex;
                align-items: center;

                h3 {
                    color: #123a5f;
                }

                .number {
                    color: #5c9b96;
                    margin-right: 30px;
                }
            }

        }
    }

    .section6 {
        background-color: rgb(242, 242, 243);
        padding: 60px 0;

        img {
            margin-bottom: 10px;
        }

        h1 {
            color: #123a5f;
            font-size: 60px;
        }
    }

    .section7 {
        background-image: url(../../assets/img/a_heltzer_quote_image_0.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        position: relative;

        .text {
            background-color: #012a41;
            padding: 50px 30px;
            width: 600px;
            position: absolute;
            color: white;
            font-size: 20px;
            bottom: -20px;
            right: 30px;

            .dot {
                display: flex;

                span {
                    font-size: 50px;
                    margin-right: 15px;
                }

                p {
                    margin-bottom: 0px !important;
                }

                .p1 {
                    padding-top: 20px;
                }

                .p2 {
                    border-bottom: 1px solid white;
                    font-size: 18px;
                    margin-top: 20px;
                    padding-bottom: 8px;
                }

                .down {
                    font-size: 15px;
                    margin-top: 10px;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }

    .section8 {
        h1 {
            font-size: 60px;
            color: #123a5f;
        }

        .index1 {
            display: flex;

            div {
                margin: 20px;
                text-align: left;
            }
        }
    }

    .section9 {
        background-color: #F2F2F3;
        padding: 70px 0;

        h1 {
            font-size: 60px;
            color: #123a5f;
        }

        .index1 {
            display: flex;

            div {
                margin: 20px;
                width: 400px;
                text-align: left;
            }
        }

        // accordion
        .accordion {
            color: #012a41;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            border-top: 1px solid #012a41;
            transition: 0.4s;

            h3 {
                color: #012a41;
                font-size: 20px;
            }

            svg {
                color: #9C6E02;
            }
        }

        //   .active, .accordion:hover {
        //     background-color: #ccc; 
        //   }

        .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #F2F2F3;

            h5 {
                color: #012a41;
                font-size: 20px;
            }

            p {
                margin-bottom: 10px !important;
                color: #012A41;
            }
        }
    }

    .section10 {
        padding: 60px 0;

        h1 {
            color: #123a5f;
            font-size: 60px;
        }

        img {
            margin-bottom: 10px;
        }

        .more {
            padding: 10px 0;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 50px;
            justify-content: space-between;
            border-bottom: 2px solid #123a5f;
            color: #123a5f;

            p {
                margin: 0 !important;
            }

            svg {
                color: #9C6E02;
            }
        }
    }
}

.Diversity {
    .banner1 {
        background-position: center;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://www.nb.com/-/media/NB/Firm-Pages/EID/EID_Hero_1600x500_r2.ashx);

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            // margin: -25px 0 0 -25px;
            text-align: center;
            color: white;
            transform: translate(-50%, -50%);

            h3,
            p {
                margin: 0 !important;
                margin-bottom: 5px !important;
                color: white;
                text-shadow: 2px 2px 5px black;
            }

            p {
                font-size: 20px;
            }

            h3 {
                font-size: 40px;
            }
        }
    }

    .section1 {
        h3 {
            color: #F06C00;
            font-size: 30px;
            margin-bottom: 20px !important;
            margin-top: 0 !important;
        }

        .bord {
            padding: 30px 40px;
        }
    }

    .section2 {
        p {
            margin-bottom: 10px;

            b {
                margin-bottom: 10px !important;
                margin-top: 0 !important;
                color: #123a5f;
            }
        }

        .up {
            margin-top: 30px;
        }
    }

    .section3 {
        padding: 50px 0;
        background-image: linear-gradient(to bottom, #EDF2F5, #f8fafb 15%, #ffffff);

        p {
            margin-bottom: 10px;

            b {
                margin-bottom: 10px !important;
                margin-top: 0 !important;
                color: #123a5f;
            }
        }

        .up {
            margin-top: 30px;
        }
    }

    .bg-white {
        background-color: rgb(255, 255, 255) !important;
    }

    .section4 {
        img {
            width: 100%;
        }

        p {
            margin-bottom: 10px;

            b {
                color: #123a5f;
                margin-top: 10px;
                font-size: 20px;
            }
        }

        h1 {
            font-size: 60px;
            color: #123a5f;
            margin-top: 0px;
            margin-bottom: 40px;
        }

        .col-md-3 {
            margin: 30px;

            img {
                width: 70% !important;
            }
        }
    }
}

.leftwhite {
    border-left: 1px solid white;
}

.rightwhite {
    border-right: 1px solid white;
}

.Responsible {
    .banner1 {
        background-position: bottom center;
        height: 80vh;
        background-size: cover;
        background-color: #000;
        background-blend-mode: normal;
        position: relative;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, #0000006a, #0000006a), url(https://www.gcmgrosvenor.com/wp-content/uploads/SEDM-headver-v1-web.jpg);

        .text {
            position: absolute;
            top: 40%;
            left: 10%;
            color: white;

            h1 {
                font-size: 60px;
                color: white;
            }

            p {
                font-size: 20px;
            }
        }

        .down {
            position: absolute;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            bottom: -50px;
            left: 10%;
            text-align: center;

            div {
                width: 500px;
                background-color: #083151;

                h2 {
                    color: white;
                    font-size: 40px;
                    margin: 10px 0;
                }

                color: white;
            }
        }
    }

    .section1 {
        background-color: #F2F2F3;

        h2 {
            color: #083151;
            font-size: 40px;
        }
    }

    .section2 {
        h2 {
            color: #083151;
            font-size: 50px;
            text-align: right;
            margin: 0;
            line-height: 50px;
        }

        img {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        span {
            font-size: 13px;
        }
    }

    .section3 {

        h2 {
            color: #012a41;
            font-size: 50px;
        }

        // accordion
        .accordion {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            border-top: 2px solid #012a41;
            font-size: 15px;
            background-color: #f8f8f8;
            transition: 0.4s;

            h3 {
                color: #012a41;
                font-size: 20px;
            }

            svg {
                color: #9C6E02;
            }
        }

        .panel {
            padding: 20px;
            display: none;
            overflow: hidden;
            background-color: #F2F2F3;

            h5 {
                color: #012a41;
                font-size: 20px;
            }
        }
    }

    .section4 {
        h2 {
            color: #083151;
            font-size: 50px;
            text-align: left;
            margin: 0;
            line-height: 60px;
        }

        padding: 50px;
        background-image: linear-gradient(to top, #ffffffe9, #ffffffe9),
        url(https://www.commonfund.org/hubfs/CF%20Website%20Assets%20-%202020/Global/group-collaborating-computers.jpg);
    }

    .section5 {
        padding: 50px 0;
        background-color: #F2F2F3;

        h2 {
            color: #083151;
            font-size: 40px;
        }
    }

    .section6 {

        .dark {
            border-left: 3px solid #9C6E02;
            padding-left: 20px;
        }

        h2 {
            font-size: 40px;
        }

        // accordion
        .accordion {
            color: #012a41;
            display: flex;
            align-items: center;
            background-color: transparent;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;

            h3 {
                color: #012a41;
                font-size: 20px;
            }

            svg {
                color: #9C6E02;
            }
        }

        //   .active, .accordion:hover {
        //     background-color: #ccc; 
        //   }

        .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: transparent;
            border: none;

            h5 {
                color: #012a41;
                font-size: 20px;
            }

            p {
                margin-bottom: 10px !important;
                color: #012A41;
            }
        }
    }
}

.Home {

    .Banner1 {
        background-position: center;
        height: 100vh;
        background-size: cover;
        background-color: #000;
        background-blend-mode: normal;
        position: relative;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, #0000006a, #0000006a), url(../../assets/img/pexels-pixabay-414837.jpg);

        .text {
            position: absolute;
            top: 40%;
            left: 10%;
            color: white;

            h1 {
                margin: 0;
                font-size: 60px;
                color: white;
            }

            p {
                margin: 0;

                b {
                    font-size: 15px;
                }

                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: white;

                button {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 8px 23px;

                    p {
                        font-size: 14px;
                    }

                    svg {
                        margin-left: 20px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.434);
                        transition: all .5s ease-out;
                    }
                }
            }
        }

    }

    .section1 {
        .big {
            font-size: 25px;
            margin-top: 50px;
        }

        h2,
        p {
            margin: 0;
        }

        .rightline {
            border-right: 1px solid #083151;
        }
    }

    .section2 {
        min-height: 80vh;
        position: relative;
    }

    .section3 {
        .pl10 {
            padding-left: 10px !important;
        }

        .pr10 {
            padding-right: 10px !important;
        }

        .col-md-6 {
            padding: 0 !important;
        }

        .line1 {
            border-top: 10px solid #2973b9;
            border-bottom: 10px solid #2973b9;
        }

        .line2 {
            border-bottom: 10px solid #e68f1a;
            border-top: 10px solid #e68f1a;
        }

        .bal {
            margin-bottom: 61.5px;
        }

        .line1,
        .line2 {
            padding-bottom: 40px;

            // margin-bottom: 20px;
            h2 {
                color: #083151;
                font-size: 40px;
            }

            p {
                padding: 0 5px;
            }
        }
    }

    .section4 {

        .all1,
        .all2,
        .all3,
        .all4,
        .all5,
        .all6 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/aa.webp);
            background-position: center;
            background-size: cover;
            position: relative;
            height: 500px;
            cursor: pointer;

            .text {
                position: absolute;
                bottom: 40px;
                left: 40px;
                color: white;
            }

            h1 {
                color: white;
            }

            p {
                display: none;
            }

            button {
                color: #94cef3;
                display: flex;
                align-items: center;
                border: none;
                outline: none;
                background-color: transparent;

                p {
                    margin: 0;
                    margin-right: 20px;
                    display: none;
                }
            }

            &:hover {
                background-image: linear-gradient(to top, #0000006a, #0000006a), url(../../assets/img/aa.webp);

                p {
                    display: block !important;
                }

                transition: all .8s ease-in-out;
            }
        }

        .all1 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/aa.webp);
        }

        .all2 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/bb.webp);
        }

        .all13 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/cc.webp);
        }

        .all4 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/New-City-Rises_Preview_1100x600.webp);
        }

        .all5 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/oaktree-sm.jpeg);
        }

        .all6 {
            background-image: linear-gradient(to top, #0000002a, #0000002a), url(../../assets/img/insurance_solutions_home_page_grid.webp);
        }
    }

    .section5 {
        p {
            b {
                color: #083151;
                font-size: 20px;
            }
        }

        .lline {
            border-bottom: 1px solid #012a41;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 20px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            color: #083151;
            font-size: 20px;
            background-color: transparent;
            transition: 0.4s;

            p {
                margin: 0;
            }
        }
    }

    .section6 {
        .col-md-6 {
            padding: 0 !important;
        }

        .linegreen {
            width: 100px;
            border-top: 3px solid green;
        }

        .carousel {
            margin: 30px 0;

            h1 {
                font-size: 50px;
            }

            .text {
                padding: 20px;

                p {
                    font-size: 23px;
                    margin: 0;
                }

                span {
                    font-size: 13px;
                }

                button {
                    margin-top: 30px;
                    background-color: #083151;
                    color: white;
                    border-radius: 5px;
                    padding: 5px 12px;
                    display: flex;
                    border: none;
                    outline: none;

                    align-items: center;

                    p {
                        margin: 0;
                        font-size: 14px;
                    }

                    svg {
                        margin-left: 10px;
                    }
                }
            }
        }

        .line2 {
            background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-news-web.jpg);
        }

        .line3 {
            background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-DEI-4-web.jpg);
        }

        .line2,
        .line3,
        .line4 {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
        }

        .line4 {
            background-image: url(https://www.gcmgrosvenor.com/wp-content/uploads/home-page-our-impact-3-web.jpg);
        }

        .ttext {
            h1 {
                font-size: 50px;
            }

            p {
                font-size: 20px;
            }

            button {
                background-color: #083151;
                color: white;
                border-radius: 5px;
                padding: 10px 30px;
                border: none;
                outline: none;
            }
        }
    }
}


// FLICKITY


.carousel-cell {
    width: 100%;
    height: 220px;
    margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #083151 !important;
    border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: #083151;
}

.flickity-button-icon {
    color: white !important;
    width: 16px !important;
    height: 16px !important;
}

.flickity-button {
    background-color: #083151 !important;
    width: 30px !important;
    height: 30px !important;
}

.marginp {
    margin: 50px 0;
}

.whitecol {
    color: white;
}

.sec4-box {
    height: 360px;
    width: 320px;
    margin: 10px;
    transition: 0.5s linear;
    cursor: pointer;

    &:hover {
        height: 500px;
        width: 400px;
        transition: 0.5s linear;

        .down {
            display: block !important;
            transition: 0.5s linear;
        }
        .arrorSvg {
        
            svg:nth-child(2) {
                display: block;
            }
            svg:nth-child(1) {
                display: none;
            }
        }
    }
}

.roww {
    display: flex;
    flex-wrap: wrap;
}

.down {
    display: none;
    padding: 15px;
    position: absolute;

    h2 {
        color: white;
        margin: 0;
    }

    p {
        color: #94cef3;
    }

}

.arrorSvg {
    svg {
        color: #94cef3 !important;
    }

    svg:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

    .sec4-box {
    
        &:hover {
            height: 530px !important;
            width: 350px !important;
        }
    }

    .last-infra{
       
        h1{
            font-size: 35px !important;
            margin-top: 90px !important;
        }
    }

    .ml100 {
        margin-left: 0px !important;
    }

    .ml50 {
        margin-left: 0px !important;
    }

    .pt150 {
        padding-top: 70px !important;
    }

    .marginp {
        margin: 170px 0 !important;
    }


    .carouselss {
        .carousel-cell {

            .cells1,
            .cells2,
            .cells3 {
                .text {
                    padding-top: 40px !important;

                    h2 {
                        font-size: 37px !important;
                    }
                }
            }
        }

    }

    .about_header {
        font-size: 40px !important;
        padding-top: 50px !important;
    }

    .about_paragraph {
        font-size: 20px;
    }

    .vl {
        height: 50px !important;
    }

    .learn_more_about a {
        padding-top: 30px !important;
    }

    .ESG {

        .Banner1 {
            .text {
                h5 {
                    font-size: 15px !important;
                }

                h1 {
                    font-size: 30px !important;
                }
            }
        }

        .section2 {
            height: 30vh !important;
            margin: 20px 0 !important;

            video {
                margin: 0 !important;
            }
        }

        .section3 {
            .img {
                height: 30vh !important;
            }
        }

        .section7 {
            height: 50vh !important;

            .text {
                padding: 30px 15px !important;
                width: 300px !important;
                font-size: 13px !important;

                .dot {
                    display: flex;

                    span {
                        font-size: 40px !important;
                        margin-right: 10px !important;
                    }

                    p {
                        margin-bottom: 0px !important;
                    }


                    .p2 {
                        font-size: 13px !important;
                    }

                    .down {
                        font-size: 10px !important;
                    }
                }
            }
        }

        .section8,
        .section9 {
            h1 {
                font-size: 40px !important;
            }

            img {
                width: 90% !important;
            }

            .index1 {
                display: flex;

                div {
                    margin: 5px !important;
                    text-align: left;
                }
            }
        }
    }

    .Diversity {
        .banner1 {
            .text {
                p {
                    font-size: 15px !important;
                }

                h3 {
                    font-size: 30px !important;
                }
            }
        }

        .section2 {
            img {
                width: 100% !important;
            }
        }

        .section4 {
            h1 {
                font-size: 40px !important;
            }
        }
    }

    .Responsible {
        img {
            width: 100% !important;
        }

        .banner1 {
            .text {
                position: absolute;
                top: 20%;
                left: 10%;
                color: white;

                h1 {
                    font-size: 30px;
                    color: white;
                }

                p {
                    font-size: 15px;
                }
            }

            .down {
                .rightwhite {
                    border-bottom: 1px solid white !important;
                    border-right: none !important;
                }

                .leftwhite {
                    border-top: 1px solid white !important;
                    border-left: none !important;
                }

                left: 10% !important;
                text-align: center;

                div {
                    width: 300px !important;
                    background-color: #083151;

                    h2 {
                        color: white;
                        font-size: 30px;
                        margin: 10px 0;
                    }

                    color: white;
                }
            }
        }
    }

    .Home {
        .Banner1 {
            .text {
                top: 23%;
                left: 4%;
            }
        }

        .section1 {
            .rightline {
                border-right: none !important;
                border-bottom: 1px solid #083151 !important;
            }
        }

        .section2 {
            height: 25vh;
        }

    }


}


.checkk {
    li {
        display: flex;
        list-style: none;

        svg {
            color: #2973b9;
            margin-right: 15px;
            margin-top: 5px;
        }
    }
}

.Drop1 {
    .drop_btn {
        button {
            border: 1px solid #123a5f;
            background-color: white;
            outline: none;
            font-weight: 600;
            padding: 10px 25px;
            color: #123a5f;

            &:hover {
                background-color: #123a5f;
                color: white;
            }
        }
    }

    .down {
        max-height: 300px !important;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 300px;
        }
    }

    .col-md-5 {
        background-color: #EDEDED;
        height: 300px !important;
    }

    .col-md-7 {
        padding: 0px !important;
    }
}

.greenLine {
    width: 150px;
    border-bottom: 3px solid #06846F;
}

.cells1 {
    // img{
    //     width: 100%;
    //     object-fit: contain;

    // }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 600px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/pexels-pixabay-414837.jpg);

    .text {
        h2 {
            font-size: 50px;
        }
    }
}

.carouselss {
    .carousel-cell {
        min-height: 500px !important;

        .cells1 {
            min-height: 500px !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 600px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/DSC04298_v2.webp);

            .text {
                padding-top: 80px;

                h2 {
                    font-size: 50px;
                    color: white;
                }

                p {
                    font-size: 23px;
                    color: white;
                }
            }
        }

        .cells2 {
            min-height: 500px !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 600px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/Corporate_Blackstone_Anna-01-e1661881960353.webp);

            .text {
                padding-top: 80px;

                h2 {
                    font-size: 50px;
                    color: white;
                }

                p {
                    font-size: 23px;
                    color: white;
                }
            }
        }

        .cells3 {
            min-height: 500px !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 600px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4156862745), rgba(0, 0, 0, 0.4156862745)), url(../../assets/img/Blackstone_BumbleIPO_Whitney-Balloons_1920x1080_RTC.webp);

            .text {
                padding-top: 80px;

                h2 {
                    font-size: 50px;
                    color: white;
                }

                p {
                    font-size: 23px;
                    color: white;
                }
            }
        }
    }

}

.heightblue {
    height: 290px;
    background: transparent;
}

.secttion11 {
    .div {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        height: 500px;
        margin: 10px 0;
        background-color: white;

        h1,
        h2,
        h3,
        p {
            color: black;
        }

        .first {
            position: relative;

            img {
                width: 100%;
                height: 170px;
            }

            .svg {
                position: absolute;
                bottom: 20px;
                left: 40px;
                color: #FF8201;
            }
        }

        .second {
            padding: 20px;
            background-color: white;

            span {
                color: #123a5f;
                font-weight: 600;
            }

            a {
                position: absolute;
                bottom: 30px;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
}

.blueOver {
    background-color: #0F3557;
    padding: 30px 0;

    color: white;

    // position: relative;
    h1,
    h2,
    h3 {
        color: white;
    }
}

.carousellss {
    .carousel-cell {
        width: 350px !important;
        height: 430px !important;

        .div {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            height: 430px;
            margin: 10px 0;
            background-color: white;

            h1,
            h2,
            h3,
            p {
                color: black;
            }

            .first {
                position: relative;

                img {
                    width: 100%;
                    height: 170px;
                }
            }

            .second {
                padding: 20px;
                background-color: white;

                span {
                    color: #123a5f;
                    font-weight: 600;
                }

                a {
                    position: absolute;
                    bottom: 30px;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
        }
    }
}


.section_two_about_divs {
    .unique {
        background-position: center;
        background-size: cover;
        background-image: url(../img/unique-process/DSC_2383.webp);
        height: 100%;
    }

    .heights {
        height: 700px;
    }
}